div#filter_form {
  margin: 0 0 17px 0
  padding: 5px;
  background: #9b9b9b;
  color: #fff;
}
div#filter_form * {
  display: inline;
  margin-right: 8px;
}
div#filter_form div.form-item br {
  display: none;
}
div#filter_form div.form-item select option {
  display: block;
}
div#filter_form *#edit-patcomments-filter-form {
  display: none;
}
div#filter_form .form-submit{
  background: #FFFFFF;
  vertical-align: middle;
  padding: -2px 0 0 15px;
}
